div.header {
  background-color: #293a4a; //#222c34 // 242930 // 293a4a
  margin-bottom: 20px;
  padding: 14px 0px;
  color: white;

  button.sign-out-btn {
    padding: 2px 6px;
  }

  .logo {
    font-size: 1.3rem;
    padding: 0 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    //   border-left: 8px solid #57cc8a;
  }

  div.centered-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a:visited,
    a:link {
      color: white;
      text-decoration: none;
    }
  }
}
